.pg-content{
	text-align:center;
	color: #333;

	.pg-item{
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
				user-select: none;
		box-sizing: content-box;
		display: inline-block;
		height: 24px;
		line-height: 24px;
		padding: 0 8px;
		margin: 0 2px;
		border: 1px solid #ccc;
		background: #eee;
		cursor: pointer;

		&.disabled{
			color: #ccc;
			background: none;
			cursor: auto;
		}

		&.active{
			background: none;
			cursor: auto;
			border: 1px solid #f6f6f6;
		}
	}


}