/*
* @Author: Elory
* @Date:   2017-09-21 09:37:01
* @Last Modified by:   Elory
* @Last Modified time: 2017-09-21 10:03:14
*/
//
@import '../variables.scss';
.header{
	.logo{
		position: absolute;
		left: 50px;
		top: 30px;
		display: block;
		font-size: 36px;
		color: $btnDefaultColor;
		font-weight: 900;
	}

	.search-con{
		padding: 40px 0 30px 250px;
	
		.search-input{
			width: 550px;
			height: 40px;
			line-height: 40px;
			padding-left: 10px;
			font-size: 15px;
			border: 2px solid $btnDefaultColor;
		}

		.search-btn{
			position: absolute;
		}

	}


}
/* 面包屑导航 */
.crumb{
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	background: #eee;
	color: #888;
	font-size: 14px;
	border-top: 2px solid $btnDefaultColor;
;}
