/*
* @Author: Elory
* @Date:   2017-09-20 20:43:34
* @Last Modified by:   Elory
* @Last Modified time: 2017-09-21 13:29:50
*/

//全局颜色


@import 'variables.scss';
*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #f6f6f6;
	font: 12px/1.5 tahoma,arial,Microsoft YaHei,sans-serif;
}
li{
	list-style: none;
}
img{
	display: block;
	border: none;
}
label{
	cursor: pointer;
}
input[type='checkbox']{
	cursor: pointer;
}

input{
	outline: none;
}

.wid{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/* panel */
.panel{
	padding: 30px;
	margin-bottom: 10px;
	background: #fff;

	.panel-title{
		padding: 10px;
		font-size: 14px;
		color: #666;
		font-weight: 900;
		border-bottom: 1px solid #eee;
	}

	.panel-body{
		padding: 10px;
		overflow: hidden;

	}
}

// .large .wid{
// 	width: 1600px;
// }

/**
 * 全局通用样式
 */
.hide{
	display: none;
}

// link
.link{
	color: #999;
	cursor: pointer;
	text-decoration: none;

	&:hover{
		color: $linkDefaultColor;
	}
}

.link-text{
	color: #999;
	text-decoration: none;
}

//btn
.btn{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	vertical-align: middle;
	border: none;
	background: $btnDefaultColor;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

.btn-mini{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}

// loading
.loading{
	margin: 0 auto;
	display: block;
	background: url(../../image/icon/loading.gif) no-repeat;
	width: 115px;
	height: 116px;
}

//解决出现滚动条之后，页面抖动问题
html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}