/*
* @Author: Elory
* @Date:   2017-09-20 21:41:34
* @Last Modified by:   Elory
* @Last Modified time: 2017-09-21 14:18:07
*/
$btnDefaultColor: #20CEC5;
// $btnDefaultColor: #c60023;
$linkDefaultColor: #e80012;
$userLoginBgColor: #e72955;